@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');


html{
    font-family: "Akshar";
    font-weight: 300;
}

.container{
    margin-top: 200px;
    position: relative;

    left: 50%;
    transform: translate(-50%,-50%);
    width: 660px;
    background: #24252A;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(white, white, white, alpha);
}
.container-onglets{
    background: #24252A;
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
}
.onglets{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.onglets::not(:nth-child(3)){
    border-right: 1px solid #f1f1f1;
}

.blueTable {
    border-top: 1px solid #0088A9;
    background-color: #EEEEEE;
    color: #f1f1f1;
    width: 70%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid #0088A9;
  }
  .blueTable td, table.blueTable th {
    
    padding: 3px 2px;
  }
  .blueTable tbody td {
    font-size: 13px;
  }
  .blueTable tr:nth-child(even) {
    background: #CDF5F4;
  }
  .blueTable thead {
    background-color: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  .blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  .blueTable thead th:first-child {
    border-left: none;
  }
  
  .blueTable tfoot td {
    font-size: 14px;
  }
  .blueTable tfoot .links {
    text-align: right;
  }
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }